
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar{
    max-height: 30px;
    max-width: 90vw;
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1{
    color: #EEEEEE;
    font-size: 30px;   
    justify-content: center;
}

.nav-bar .button{
    width: 100px;
    height: 30px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.nav-bar .button:hover{
    background-color: #FFD369;
    border: 8px solid #FFD369;
}

.mesage{
    color: #EEEEEE;
    height: 3vh;
    font-size: 10px;
    padding-top: 20px;
}

.container{
    padding-top: 25px;
}

#board{
    width: 452px;
    height: 452px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: center;
    overflow: hidden;
}

.tile{
    width: 48px;
    height: 48px;
    background-color: #EEEEEE;
    border: 1px solid #666; 
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.top-left-corner-tile{
    border-top-left-radius: 6px;
}

.top-right-corner-tile{
    border-top-right-radius: 6px;
}

.bottom-left-corner-tile{
    border-bottom-left-radius: 6px;
}

.bottom-right-corner-tile{
    border-bottom-right-radius: 6px;
}

.tile:hover{
    background-color: #FFD369;
}

.start-num{
    background-color: gray;
    cursor: default;
}

.horizontal-line{
   border-bottom: 2px solid black;
}

.vertical-line{
    border-right: 2px solid black;
}

.tile-selected{
    border-color: black;
    background-color: #FFD369;
    border-radius: 3px;   
       
}

#keypad{
    width: 166px;
    height: 136px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-row-gap: 1px;
    grid-column-gap: 4px;  
    justify-content: center;
    align-items: center;      
}

.digit{ 
    width: 40px;
    height: 40px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.digit:hover{
    background-color: #FFD369;
    border: 2px solid #FFD369;
}

.num-selected{
    background-color: #FFD369;   
}

#errase{
    height: 40px;
    width: 134px;
    margin-top: 3px;
    border-radius: 8px;
    background-color: #FFD369;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#errase:hover{
    background-color: #fcb612;
    border: 10px solid #fcb612;
}

@media (max-width: 2000px) {
    #board{
        width: 326px;
        height: 326px;
    }
    .tile{
        width: 34px;
        height: 34px;
    }  
}


@media (max-width: 800px) {
    .mesage{
        padding-top: 60px;
    }
    .container{
        padding-top: 30px;
    }
    #keypad{
        width: 166px;
        height: 166px;
    }
    .digit{
        width: 50px;
        height: 50px;
    }
    #errase{
        height: 50px;
        width: 162px;
    }
}

@media (max-width: 400px) {
    .nav-bar{
        padding-top: 35px;
    }
    .nav-bar .button{
        width: 80px;
        height: 30px;
        font-size: 12px
    }
    .mesage{
        padding-top: 30px;
        font-size: 8px;
    }
    .container{
        padding-top: 20px;
    }
}